<template name="loginPage">
    <form id="loginForm">
        <h1>
            Sign In
        </h1>
        <div class="form-group">
            <label for="usermail">Account Email</label>
            <input type="email" class="form-control" id="usermail" placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label for="password">Account password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-default"> Sign In </button>
    </form>
    <a href=""> Forgot password? </a>
    <a href="/signin"> Create account </a>
</template>